body.login #backtoblog a,body.login #nav a{color:#673894;font-weight:bold}body.login #backtoblog a:hover,body.login #nav a:hover{color:#000;text-decoration:none}body.login div#login h1 a{background:url("../img/logo-horizontal.png") no-repeat center top;height:40px;width:300px}body.login div#login h3{font-size:18px;height:auto;margin:0 0 20px;font-weight:bold}#adminmenuwrap:before{background:url("../img/logo-icon.svg") no-repeat center #fff;background-size:70%;content:" ";display:block;height:150px}@media (max-width: 960px){#adminmenuwrap:before{height:40px}}
