body{
	section{
		&.blog{
			margin-bottom: 2%;
			.container{
				.row{
					div{
						&:first-child{
							.row{
								padding: 4% 0 2% 0;
								border-bottom:1px solid #bebebe !important;
								&:last-child{
									border-bottom: none;
								}
								div{
									&:first-child{
										figure{
											img{
												width: 100%;
											}
										}
									}
									&:last-child{
										padding: 0;
										h3{
											color: $red;
											font-size: 14pt;
											margin-bottom: 0;
										}
										p{
											text-align: justify;
											a{
												background-color: $red;
												padding: 1% 4%;
												color: $white;
												cursor: pointer;

												&:hover{
													opacity: 1;
													text-decoration: none;
												}
											}
										}
									}
								}
							}
						}
						&:last-child{
							padding-top: 2%;
							padding-left: 2%;

							iframe{
								width: 100% !important;
								max-height: 250px;
							}

							.searchform{
								div{
									padding-left: 0;
								}
								label{
									color: $red;
								}
								input#searchsubmit{
									color: $white;
									background-color: $red;
									border-color: $none;
									padding: 0.5% 4%;
									margin-top: 4px;
									cursor: pointer;
									&:hover{
										background-color: $black;
										transition:all 0.7s ease;
									}
								}
							}
							ul{
								padding: 0;
								margin-bottom: 10%;
								li{
									list-style: none;
									h2{
										color: $red;
									}
									a{
										color: $black;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}