body{
	section{
		&.orcamento{
			.container{
				.row{
					&.info{
						div{							
							&.out_paint{
									p{
										background-color: $blue;
										color: $white !important;
										padding: 4% 6%;
										transition: all 0.7s ease;
									}
									h2{
										color: $blue;
									}
									.border_div{
										background-color: $blue;
									}
							}
							&:last-child{
								@media(max-width: 576px){
									margin-top: 4%;
								}
								p{
									color: $red;
									font-size: 12pt;
								}
							}
						}
					}
				}
			}
		}
		&.contato{
			.container{
				.row{
					margin: 4% 0;
					&.info{
						div{
							&:first-child{
								.wpcf7-form{
									p{
										color: $red;
										font-family: $bebas_regular;
										font-weight: bold;
										font-size: 14pt;
										margin-bottom: 0;
										span{
											width: 100%;
											margin-left: 0;
											&.wpcf7-radio{
												span{

													input{
														width: auto;
													}
												}
											}
											input, textarea{
												width: 100%;
												padding: 1% 2%;
												border:1px solid $black;
												margin-bottom: 2%;
											}
										}
										.wpcf7-form-control.wpcf7-submit{
											background-color: $red;
											color: $white;
											border-color: $none;
											border-radius: 4px;
											padding: 0.5% 4%;
											font-family: $bebas_regular;
											cursor: pointer;
										}
									}
								}
							}
							&:last-child{
								.print{
									font-weight: bold;
									color: $black;
									font-weight: $bebas_regular;
									font-size: 15pt;

								}

								a{
									color: $black;
								}

								p{
									font-family: $bebas_regular;
									font-weight: 400;
									&.title{
										margin-bottom: 0;
										font-family: $bebas_regular;
										font-weight: bold;
										font-size: 12pt;
										i{
											color: $red;
											margin-right: 1%;
										}
									}
								}								
							}
						}				
					}
				}
			}
		}
	}
}