footer{
	background-color: #292929;
	padding: 4% 0 0 0;
	margin-top: 4%;

	.title_footer{
		color: $white;
		font-size: 35pt;
		letter-spacing: 2px;
	}

	.whats_footer{
		background-color: $whats;
		color: $white;
		width: 100%;
		padding: 2% 4%;
		text-align: center;
		border-radius: 2px;
		border-color: transparent !important;
		font-size: 12pt;
	}	

	.footer_ou{
		margin: 1% 0 3% 0;
		color: $white;
		text-align: center;
		font-size: 18pt;
	}

	.footer_sociais{
		i{
			color: $white;
			font-size: 24pt;
		}
	}

	.container{
		.row{
			div{
				&.dois{
					.form_footer{
						p{
							margin-bottom: 0;
						}
						input{
							padding: 2% 4%;
							margin-bottom: 2%;
							width: 100%;
						}

						textarea{
							max-width: 100%;
							width: 100%;
							padding: 4%;
							max-height: 162px;
						}

						input, textarea{
							border-radius: 2px;
							border-color: transparent !important;
							&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
								color: $black;
								font-size: 12pt;
								text-transform: uppercase;
								font-weight: normal;											
							}
							&::-moz-placeholder { /* Firefox 19+ */
								color: $black;
								font-size: 12pt;
								text-transform: uppercase;
								font-weight: normal;											
							}
							&:-ms-input-placeholder { /* IE 10+ */
								color: $black;
								font-size: 12pt;
								text-transform: uppercase;
								font-weight: normal;											
							}
							&:-moz-placeholder { /* Firefox 18- */
								color: $black;
								font-size: 12pt;
								text-transform: uppercase;
								font-weight: normal;											
							}								
						}

						.wpcf7-submit{
							cursor: pointer;
							background-color: $nerd;
							text-transform: uppercase;
							width: 100%;
						}
					}
				}
			}
		}
	}
	.copy{
		padding: 2% 0 1% 0;
		margin-top: 4%;
		border-top: 1px solid #fff;
	}
}