body{
	&.home{
		.custom_slider{
			z-index: 0 !important;
			.botao_banner_um{
				font-family: $bebas_regular;
				font-weight: normal;				
				color: $white;
				background-color: #1f2130;
				padding: 0 10% !important;
				border-radius: 8px;
				@media(min-width: 992px){
					font-size: 30pt !important;
				}
				@media(max-width: 992px){
					font-size: 18pt !important;
				}
				&:hover{
					opacity: 1;
					text-decoration: none;
				}
			}
			.custombannerdois{
				@media(max-width: 992px){
					a{
						font-size: 14pt !important;
						padding: 6% 10% !important;
					}
				}	
			}			
		}
		footer{
			margin-top: 0;
		}
	}
}