*{
	font-family: $bebas_regular;
	font-weight: normal;
	letter-spacing: 1px;
	font-size: 10pt;

	a{
		&:hover{
			opacity: 0.7;
			transition: all 0.7s ease;
		}
	}

	p, span{
		font-family: 'Open Sans', sans-serif;
		letter-spacing: inherit;
		font-size: 11pt;
		font-weight: 400;
	}

	b{
		font-family: $bebas_regular;
		font-weight: bold;
	}
}


.posts_titulo{
	color: $black;
	text-align: justify;
	font-size: 13pt;
	padding: 0 4%;
}

@media(min-width: 480px){

.no-padding{
	padding: 0 !important;
}

.no-padding-right{
	padding-right: 0 !important;
}

.no-padding-left{
	padding-left: 0 !important;
}

.no-margin-bottom{
	margin-bottom: 0 !important;
}

}

.canal_youtube{
	background-color: $black;
	padding: 0.5% 0 3% 0;

	.botao_youtube{
		background-color: $nerd;
		color: $black;
		padding: 0.5% 1%;
		text-align: center;
		border-radius: 4px;

		&:hover{
			text-decoration: none;
			opacity: 1;
		}
	}

	.posts{
		margin-top: 2%;
	}

	.row{		
		.posts_titulo{
			color: $white;
		}

	}
}

.ultimas_noticias{
	.randomicos{
		figure{
			margin-bottom: 1%;
		}
		.artigos{
			max-height: 366px;
		}
		img{
			width: 100%;
			max-height: 366px;
		}
	}
}


	h1.title{
		background-color: $black;
		color: #fff;
		text-align: center;
		font-size: 40pt;
		padding: 1%;
		margin: 4% 0;

		@media(max-width: 480px){
			font-size: 20pt;
		}
	}
	.posts{
		.owl-stage-outer {
		    z-index: 100;
		}		

		.owl-nav {
		    top: 42%;
		    position: absolute;
		    width: 100%;
		    z-index: 0;

		    .owl-prev{
		    	float: left;
		    	background-color: rgba(51,51,51, .8);
		    	padding: 0.5% 1%;
		    	margin-left: -2.5%;

		    	i{
		    		color: #fff;
		    		font-size: 14pt;
		    	}
		    }

		    .owl-next{
		    	float: right;
		    	background-color: rgba(51,51,51, .8);
		    	padding: 0.5% 1%;
		    	margin-right: -2.5%;

		    	i{
		    		color: #fff;
		    		font-size: 14pt;
		    	}
		    }		    
		}

		.artigo{
			margin: 0 0.5%;

			.posts_conteudo{
				color: $black;
				text-align: justify;

				p{
					margin-bottom: 0;
				}
			}
			article{
				position: relative;
				cursor: pointer;
				transition: all .7s ease;

				img{
					transition: all .7s ease;
					width: 100%;
				}
				.desc{
					position: absolute;
					bottom: 0;
					left: 0;
					background-color: rgba(0,0,0, .4);
					width: 100%;
					padding: 0 3%;
					text-align: justify;
					color: #fff;
					transition: all .7s ease;

					.align_desc{
						width: 100%;
						min-height: 30px;
					}

					p{
						/*04b4ed*/
						background-color: $nerd;
						float: left;
						padding: 1% 3%;
						color: $black;
					}

					h3{
						float: left;
						width: 100%;
						text-align: left;
						font-size: 17pt;

						@media(max-width: 480px){
							font-size: 11pt;
						}
					}
				}

				&:hover{
					img{
						transform: scale(.9);
						transition: all .7s ease;
					}					
					.desc{
						transform: scale(.9);
						transition: all .7s ease;
					}
				}
			}
		}
	}

.custombannerum{
	@media(max-width: 992px){
		display: none;
	}	
}

.tparrows.preview2:after{
	top: 38%;
}

.solicitar_orcamento{
	background-color: $red;
	color: $white;
	font-family: oswald;
	font-weight: 300;
	padding: 1% 4%;
	border-radius: 4px;
	font-size: 12pt;
	text-transform: uppercase;
	float: right;
	margin-top: 4%;

	&:hover{
		color: $white;
		opacity: 1;
		text-decoration: none;
	}

}

.border_div{
	width: 50px;
	height: 1px;
	background-color: $red;
	margin: 15px 0;
}

.gerenciar_custos{
	background-image: url(../img/destaques/home/gerenciar-e-controlar-custos2.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 9% 0;
	.container{
		.row{
			text-align: center;
			h3,p{
				width: 100%;
				font-family: oswald;
				text-align: center;
				color: $white;
			}
			p{
				font-weight: 200;
				font-size: 16pt;
			}
			a{
				font-weight: 200;
				font-family: oswald;
				text-align: center;
				color: $white;
				height: 44px;
				font-size: 14pt;
				padding: 0.5% 2%;
				background-color: $red;
				margin: 0 auto;
				border-radius: 6px;
				@media(max-width: 576px){
					font-size: 13pt !important;
					height: 58px !important;
				}

				&:hover{
					opacity: 1;
					text-decoration: none;
				}
			}
		}
	}
}

.e_text{
	background-color: $red;
	color: $white;
	width: 35px;
	padding: 8px 0;
	margin-bottom: 0;
	text-align: center !important;
	float: left;margin-right: 10px;
}

.leia-mais{										
	background-color: $blue;
	float: left;
	width: 120px !important;
	i{
		padding: 8% 9% 8% 11%;
		background-color: $blue;
		color: $white;
		margin-right: 16%;
	}
	a{
		padding: 7% 0%;
		color: $white;
	}

	&:hover{
		background-color: rgba(85,85,85, 1);
		opacity: 0.8;											
		transition: all 0.7s ease;
		i{
			background-color: #4c4c4c;
			opacity: 1;
			transition: all 0.7s ease;
		}
		a{
			color: $white;
		}
	}
}

i{
	&.fa-facebook{
		&:hover{
			color: $skype;
			transition: all 0.7s ease;											
		}
	}
	&.fa-whatsapp{
		&:hover{
			color: $whats;
			transition: all 0.7s ease;
		}
	}
	&.fa-search{
		&:hover{
			color: $red;
			transition: all 0.7s ease;
		}
	}
	&.fa-skype{
		&:hover{
			color: $skype;
			transition: all 0.7s ease;
		}
	}	
}

.row{
	width: 100%;
	margin: 0 auto;
}