body{
	&.internas{
		.quem_somos_text{
			background-color: rgba(0,0,0, .5);
			color: $white;
			padding: 2% 4% !important;
		}
		.title_div{
			color: $red;
			font-family: $bebas_regular;
			font-weight: 600;			
		}
		section{
			&.bg_page{
				background-size: 100% 100%;
				padding: 2.1% 0;
				margin-bottom: 3%;
				margin-top: 1%;
				.container{
					.row{
						div{
							p, div{
								text-align: center;
							}
							p{
								color: $white;
								font: oswald;
								font-size: 15pt;
							}
							div{
								color: $white;
								span{
									color: $white;
									font-size: 9pt;
								}
								a{
									color: $white;
									font-size: 9pt;
								}
							}
						}
					}
				}	
			}
			&.title_page{
				margin-bottom: 1%;
				.container{
					.row{
						div{
							p{
								&.title{
									font-size: 16pt;
									font-family: $bebas_regular;
									font-weight: 400;
								}
							}
							div{
								a{
									color: $red;
								}
							}
						}
					}
				}
			}
			&.sobre_nos{				
				.container{
					.row{
						div{
							p{
								text-align: justify;
							}
							&:first-child{
								figure{
									width: 100%;
									img{
										width: 100%;
										height: auto;
									}
								}
							}
							&:last-child{
								font-weight: 300;
								font-family: $bebas_regular;
								@media(max-width: 576px){
									margin-top: 4%;
								}
								h2{
									color: $red;
									font-family: $bebas_regular;
									font-weight: 600;
									margin-bottom: 0;
									line-height: 18px;
								}
							}
						}
					}
				}
			}
			&.sobre_desc{
				background-color: $blue;
				margin: 4% 0;
				.container{
					.row{
						div{
							p{
								text-align: justify;
								max-width: 90%;
							}
							&:first-child{
								padding: 4% 0;
							}
							&:last-child{
								padding: 0;
								div#rev_slider_4_2, .slotholder{
									padding: 0;
								}
								figure{
									width: 100%;
									img{
										width: 100%;
										height: auto;
									}
								}
							}
						}
					}
				}
			}
			&.caracteristicas_sobre{
				.container{
					.row{
						div{
							font-family: oswald;
							font-weight: 300;

							p{
								text-align: justify;
							}
							ul{
								padding-left: 0;
								li{
									list-style: none;
										font-family: oswald;
										font-weight: 300;									
									a{
										font-family: oswald;
										font-weight: 300;
									}
								}
							}
						}
					}
				}
			}
			&.clientes_sobre{
				margin: 4% 0;
				.container{
					.row{
						div{
							p{
								text-align: justify;
							}
							&:first-child{
								img{
									width: 31%;
									float: left;
									margin: 4% 1%;
									filter: grayscale(100%);

									&:hover{
										filter: grayscale(0);
										transition: all 0.7s ease;
									}
								}								
							}
							&:last-child{
							}
						}
					}
				}
			}
		}
	}
}