// Colors
$default: #666;

$whats: #43d854;
$skype: #00aff0;
$face: #3b5998;
$blue: #04e4bd;
$red: #e5322d;
$white: #fff;
$black: #333;
$nerd: #fbcf27;
$none: transparent;

$bebas_regular: 'bebas_regular';
$bebas_bold: 'bebas_bold';
$bebas_light: 'bebas_light';

@font-face {
    font-family: 'bebas_regular';
    src: url('../fonts/bebasneue-regular-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_bold';
    src: url('../fonts/bebasneue-bold-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_light';
    src: url('../fonts/bebasneue-light-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}